.form-custom {
    width: 100vw;  
}


 // Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .form-custom {
        width: 70vw;
   }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 1000px) { 
    .form-custom {
         width: 50vw;
    }
}
