#login-form {
    width: 100vw;
}

// Large devices (desktops, 992px and up)
@media (min-width: 1040px) { 
    #login-form {
         width: 50vw;

    }
    .login{
        height: 100vh;
    }
}
         
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1400px){ 
    #login-form {
        width: 30vw;
    }
    .login{
        height: 100vh;
    }
}