
PARTENAIRE

<p>
    Votre collaboration avec <span class="text-primary">BodyWolf</span> commence maintenant ! 
</p>
<p>
    Cliquez <a class="btn btn-primary btn-large"href="{{path("app_register_partner")}}">ici</a>  pour vous enregistrer sur notre plateforme. 
</p>


<p>L'équipe <span class="text-primary">BodyWolf</span> vous souhaite la bienvenue. </p>