
PARTENAIRE

<p>
    Votre collaboration avec BodyWolf commence maintenant ! 
</p>
<p>
    Cliquez <a href="{{absolute_url(path("app_register_partner"))}}">ici</a>  pour vous enregistrer sur notre plateforme. 
</p>


<p>L'équipe <span class="text-primary">BodyWolf</span> vous souhaite la bienvenue. </p>